<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robotics Club - About</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/universal.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>

  <%- include('partials/header') %>

  <div class="jumbotron">
    <h1 class="display-4">About Us</h1>
  </div>

  <div class="container mt-5">
    <h1>About Us</h1>
    <p>The Robotics Club is dedicated to advancing robotics technologies, organizing projects, and fostering an environment of learning and innovation. We work on cutting-edge robotics technology and AI to explore how machines can assist humans in various sectors such as healthcare, education, and industrial automation.</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
